<!-- <nav style="background: #007bff; padding: 10px; text-align: center;">
  <a href="#" routerLinkActive="active" style="margin-right: 15px;color: white;">Home</a>
  <a routerLink="/about" routerLinkActive="active" style="margin-right: 15px;color: white;">About</a>
  <a routerLink="/contact" routerLinkActive="active" style="margin-right: 15px;color: white;">Contact</a>
  <a routerLink="/shop" routerLinkActive="active" style="margin-right: 15px;color: white;">Shop</a>
  <a routerLink="/abcd" routerLinkActive="active" style="margin-right: 15px;color: white;">Error</a>
</nav>


 -->
<app-navbar *ngIf="isLogin"></app-navbar>
<router-outlet></router-outlet>
<app-footer *ngIf="isLogin"></app-footer>